{% extends 'base/base.html' %}
{% block content %}
   {% load static %}
   {% load bootstrap5 %}
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' %}
<!-- !!!!!!!!!!!!!!!!!!!!!!!! script !!!!!!!!!!!!!!!!!!!!! -->

<script>
    var exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body input')

  modalTitle.textContent = 'New message to ' + recipient
  modalBodyInput.value = recipient
})
</script>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <div class="page-wrapper">
            <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Blank Page</h3>
                        <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class=" form-group col-md-10">
                    <button style="margin-top:10px;" type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Add Student</button>
                   </div>
            </div>
            </div>
            <!-- /////////////////////////////////////////////////////////////////////////////// -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#firstModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#secondeModal" data-bs-whatever="@fat">Open modal for @fat</button>

        
        <div class="modal fade" id="firstModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name" placeholder="first">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="secondeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Recipient:</label>
                      <input type="text" class="form-control" id="recipient-name" placeholder="seconde">
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send message</button>
                </div>
              </div>
            </div>
          </div>
        <!-- /////////////////////////////////////////////////////////////////////////////// -->
            
            <!--  add student form modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-header">
                  <h5 class="card-title">Add Student</h5>
               </div>
           
           <div class="card-body">
              <form method="post" action="" enctype="multipart/form-data">
                 {% csrf_token%}
                 {% bootstrap_form form layout='horizontal' %}
                  {% buttons %}
                  <button type="submit" class="btn btn-primary">Add Student</button>
                  {% endbuttons %}
                  <div class="modal-footer">
                     <button type="button" data-bs-dismiss="modal">Cancel</button>
                  </div>
              </form>
           </div>
        </div>
     </div>
  </div>
  
        
       </div>
      </div>
    </div>
            
            {% include 'includes/footer.html' %} 
        </div>

  

{% endblock%}
