
{% extends 'base/base.html' %}
{% block content %}
   {% load static %}

   <div class="main-wrapper login-body">
      <div class="login-wrapper">
         <div class="container">
            <div class="loginbox">
               <div class="login-left">
                  <img class="img-fluid" src="{% static 'assets/img/makerLab.png' %}" alt="Logo">
               </div>
               <div class="login-right">
                  <div class="login-right-wrap">
                     <h1>Login</h1>
                     <p class="account-subtitle">Access to our dashboard</p>
                     <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                           <input class="form-control" type="text" placeholder="User Name" name="username">
                        </div>
                        <div class="form-group">
                           <input class="form-control" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="form-group">
                           <button class="btn btn-primary btn-block" type="submit">Login</button>
                        </div>
                     </form>
                     <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
                     </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   {% endblock %}