{% extends 'base/base.html' %}
{% block content %}
   {% load static %}
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' %}
<div class="page-wrapper">
    <div class="content container-fluid">
    <div class="page-header">
    <div class="row">
    <div class="col-sm-12">
    <h3 class="page-title">Program Details</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'program:list' %}">Program</a></li>
    <li class="breadcrumb-item active">Program Details</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="card">
    <div class="card-body">
    <div class="row">
    <div class="col-md-12">
    <div class="about-info">
    <h4>About Me</h4>
    <div class="media mt-3">
    <div class="media-body">
    <ul>
        <li>
        <span class="title-span">Title : </span>
        <span class="info-span">{{ object.label}}</span>
        </li>
        <li>
        <span class="title-span">Category : </span>
        <span class="info-span">{{object.category}}</span>
        </li>
        <li>
        <span class="title-span">Description : </span>
        <span class="info-span">{{object.description}}</span>
        </li>
        
    </ul>
    </div>
    </div>
    <div class="row mt-3">
    
    </div>
    {% include 'includes/footer.html' %}   
    {% endblock%}                