{% extends 'base/base.html' %}
{% block content %}
   {% load static %}
 {% load bootstrap5 %}
  
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' %}
    <div class="page-wrapper">
        <div class="content container-fluid">
           <div class="page-header">
              <div class="row align-items-center">
                 <div class="col">
                    <h3 class="page-title">Payments</h3>
                    <ul class="breadcrumb">
                       <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                       <li class="breadcrumb-item active">Payments</li>
                    </ul>
                 </div>
                 <div class="col-auto text-right float-right ml-auto">
                    <a href="  " class="btn btn-outline-primary mr-2"><i class="fas fa-pdf"></i> PDF File</a>
                    <a href="{% url 'payment:pay' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                 </div>
              </div>
              
           </div>
           <div class="row">
              <div class="col-sm-12">
                 <div class="card card-table">
                    <div class="card-body">
                       <div class="table-responsive">
                          <table class="datatable table table-stripped">
                             <thead>
                                <tr>
                                   <th>Number</th>
                                   <th>Student</th>
                                   <th>MemberShip</th>
                                   <th>Payment Method</th>
                                   <th>Create By</th>
                                   <th>Price</th>
                                   <th>Status</th>


                                   <th class="text-right">Action</th>
                                </tr>
                             </thead>
                             <tbody>
                                {% for payment in payments %}
                                <tr>
                                   <td>ST{{payment.id}}</td>
                                   <td><a href="{% url 'payment:detail' payment.id %}" class=" mr-2">{{payment.student}}</a></td>
                                   <td>{{payment.membership}}</td>
                                   <td>{{payment.payment_method}}</td>
                                   <td>{{payment.created_by}}</td>
                                   <td>{{payment.abonnement.price}} DH</td>
                                   {% if payment.status %}
                                   <td width="100px"><li class="list-group-item list-group-item-success rounded-pill"  >Complate</li></td>
                                   {% else %}
                                   <td width="100px"><li class="list-group-item list-group-item-danger rounded-pill"  >In Progress</li></td>
                                   {% endif %}


                                   <td class="text-right">
                                      <div class="actions">
                                         <a href="{% url 'payment:update' payment.id %}" class="btn btn-sm bg-success-light mr-2">
                                         <i class="fas fa-pen"></i>
                                         </a>
                                         <a href="" class="btn btn-sm bg-danger-light">
                                         <i class="fas fa-trash"></i>
                                         </a>
                                      </div>
                                   </td>
                                </tr>
                                 {% endfor %} 
                            </tbody>
                        </table>
                        </div>
                    </div>

{% include 'includes/footer.html' %}   
{% endblock%}                