{% extends 'base/base.html' %}
{% block content %}
   {% load static %}
   {% load bootstrap5 %}
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' %}
    <div class="page-wrapper">
        <div class="content container-fluid">
           <div class="page-header">
              <div class="row">
                 <div class="col-sm-12">
                    <h3 class="page-title">Add Payment</h3>
                 </div>
              </div>
           </div>
            <div class="row ">
                <div class="col-md-10 d-flex " id="addStudent">
                   <div class="card flex-fill col-md-8 ">
                      <div class="card-header">
                         <h5 class="card-title text-center ">Add Payment</h5>
                      </div>
                      <div class="card-body ">
                         <div class="table-responsive">
                            <form method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token%}
                                <div class="form-group row">
                                   <label class="col-form-label col-md-2">Student</label>
                                   <div class="col-md-10">
                                      <select class="form-control" name="student">
                                          {% for student in students %}
                                          <option value="{{student.id}}">{{student}}</option>
                                          {% endfor %}
                                      </select>
                                   </div>
                                </div>
                                <div class="form-group row">
                                   <label class="col-form-label col-md-2">Abonnement</label>
                                   <div class="col-md-10">
                                    <select class="form-control" name="abonnement">
                                        {% for abonnement in abonnements %}
                                          <option value="{{abonnement.id}}">{{abonnement}}</option>
                                          {% endfor %}
                                    </select>
                                   </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">Payment method:</label>
                                    <div class="col-md-10">
                                       <input type="radio" name="pay_method" value="CASH" id="cash" onchange="checkMethod(event)" >CASH
                                       <input type="radio" name="pay_method" value="CHEQUE" id="cheque" onchange="checkMethod(event)" checked>CHEQUE
                                    </div>
                                </div>
                              <div class="form-group row">
                                 <div class="col-md-10">
                                    <input type="file" name="cheque_file" id="cheque_file">
                                 </div>
                              </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">Pay By:</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="pay_by">
                                    </div>
                                </div>
                                <div class="form-group row">
                                   <div class="col-md-10">
                                      <input class="btn btn-primary" type="submit" value="Sauvegarder">
                                   </div>
                                </div>
                             </form>
                         </div> 
                      </div>
                    </div>
            </div>
        </div>
    </div>
   </div>
   <script >
      let cheque_file = document.getElementById('cheque_file')
      let pay_method;
      function checkMethod(e) {
         pay_method = e.target.value
        console.log(pay_method)
        if (pay_method === "CHEQUE"){
            cheque_file.type = "file"
        }
        else{
         cheque_file.type = "hidden"
        }
      }
   </script>
  {% include 'includes/footer.html' %}   
{% endblock%}