{% extends 'base/base.html' %}
{% block content %}
   {% load static %}
   {% load bootstrap5 %}
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' %}
    <div class="page-wrapper">
        <div class="content container-fluid">
           <div class="page-header">
              <div class="row">
                 <div class="col-sm-12">
                    <h3 class="page-title"> Payment</h3>
                 </div>
              </div>
           </div>
            <div class="row ">
                <div class="col-md-10 d-flex " id="addStudent">
                   <div class="card flex-fill col-md-8 ">
                      <div class="card-header">
                         <h5 class="card-title text-center ">Total To Payment for {{payment.student}}</h5>
                      </div>
                      <div class="card-body ">
                        <form method="post">
                           {% csrf_token %}
                          <div class="input-group mb-3">
                           <input type="text" class="form-control" value="Total :" readonly>
                           <b><input type="text" class="form-control" name="total" id="total" value="{{payment.abonnement.price}}" readonly></b>
                           <span class="input-group-text">DH</span>
                        </div>
                        <div class="input-group mb-3">
                           <input type="text" class="form-control" value="Payed :" readonly>
                           <b><input type="number" class="form-control " name="gived" id="gived"  ></b>
                           <span class="input-group-text">DH</span>
                        </div>
                        
                        <div class="input-group mb-3">
                           <input type="text" class="form-control" value="Rest :" readonly>
                           <b><input type="number" value="" class="form-control" name="rest" id="rest" readonly></b>
                           <span class="input-group-text">DH</span>
                        </div> 
                        <input type="submit" value="Next" class="btn btn-primary">
                        </form>
                        
                        <div class="form-group row">
                           <div class="col-md-10 text-right">
                              <input class=" btn btn-primary" onclick="calcul();" type="submit" value="Rest">
                           </div>
                        </div>
                        <!-- <a href="{% url 'payment:total_detail' payment.id %}" class="btn btn-primary">Next</a> -->

                    
            </div>
        </div>
    </div>
   </div>
   <script>
            
      function calcul()
      {
          var total = parseFloat(document.getElementById('total').value);
          var gived = parseFloat(document.getElementById('gived').value);

          document.getElementById('rest').value = total-gived;
      }
   </script>
  {% include 'includes/footer.html' %}   
{% endblock%}